<!-- 
  Plugin descriptor for the Shakespear Play doctypes
  
  Copyright (c) 2009 DITA For Publishers
  
  This plug-in provides all the DTD and XSD declarations for the 
  Shakespear Play sample specializations.
  
  Install this plug-in to your DITA Open Toolkit plugins directory.  
  -->
<plugin id="org.dita4publishers.shakespear.doctypes">
  <feature extension="package.support.name" value="Eliot Kimber"/>
  <feature extension="package.support.email" value="ekimber@contrext.com"/>
  
  <feature extension="dita.specialization.catalog.relative" value="catalog.xml" type="file"/>
</plugin>
